[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:zenorocha/dracula-theme.git
[submodule "bundle/dracula/repo"]
	path = bundle/dracula/repo
	url = git@github.com:zenorocha/dracula-theme.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/Cleanroom"]
	path = bundle/Cleanroom
	url = https://github.com/vim-scripts/Cleanroom.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
